body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: URL("ulangtahun.webp");
  background-size: cover;
}

.container {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(240, 240, 240, 0.8);
}

.container h1 {
  font-family: "Dancing Script", cursive;
}

.container h4,
p {
  font-family: "Comic Sans MS", cursive;
}

button {
  background-color: #d14aa9;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #56afe2;
}
